# Web Scraping Tutorial

Primero vamos a importar nuestras librarias

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Despues vamos a llamar al internet con un URL y guardar la respuestas en variables. Nota que BeautifulSoup convierta la data en una idioma que Python puede leer.

In [10]:
url = "http://www.akc.org/content/news/articles/most-popular-dog-breeds-full-ranking-list/?button"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data, 'html5lib')

Ahora podemos desaramar la mesa de HTML. Primero usamos el funcion "find_all" para cojere la mesa. Usamos el tag 'table' porque asi se llama en HTML. Lo mismo hacemos on las filas. 

Nota que estamso usando los indices para accesar la lista. [0] para la mesa pare cojere la PRIMER mesa.
[1:] representa la segunda fila hasta la ultima fila.

In [11]:
table = soup.find_all('table')[0]

#print table

In [12]:
rows = table.find_all('tr')[1:]

#print rows

Ahora podemos construir nuestro CSV Spreadsheet!
Vamos a empezar construindo un Python structure que se llama un "dicionario". 
Un dicionario es una lista de llave-valor pares. En nuestro dicionario, la llave es el titulo del columno. El valor es la lista de todas las filas. 

Para construir nuestro diccionario, usamos {}, y ponemos los titulos de abajo.

In [13]:
data = {
    'breeds' : [],
    'rank2016' : [],
    'rank2015' : [],
    'rank2014' : [],
    'rank2013' : []
}
#print data

Ahora vamos a poner la informacion de toda la mesa adentro de nuestro diccionario.
Para ser eso, tenemos que usar un "FOR LOOP". Vamos a LOOP todas las filas y poner la infomracion de ese fila y ponerlo en la llave del diccionario que correspande. 

Para cojer los columnos, usamos el nombre de HTML 'td'.
Para agregar a cada columno, accesamos por el diccionario.

In [14]:
for row in rows:
    cols = row.find_all('td')
    data['breeds'].append( cols[0].get_text() )
    data['rank2016'].append( cols[1].get_text() )
    data['rank2015'].append( cols[2].get_text() )
    data['rank2014'].append( cols[3].get_text() )
    data['rank2013'].append( cols[4].get_text() )
#print data

In [15]:
dogData = pd.DataFrame( data )

print dogData

                             breeds rank2013 rank2014 rank2015 rank2016
0             Retrievers (Labrador)        1        1        1        1
1              German Shepherd Dogs        2        2        2        2
2               Retrievers (Golden)        3        3        3        3
3                          Bulldogs        5        4        4        4
4                           Beagles        4        5        5        5
5                   French Bulldogs       11        9        6        6
6                           Poodles        8        7        8        7
7                       Rottweilers        9       10        9        8
8                Yorkshire Terriers        6        6        7        9
9                            Boxers        7        8       10       10
10    Pointers (German Shorthaired)       13       12       11       11
11                 Siberian Huskies       14       13       12       12
12                       Dachshunds       10       11       13       13
13                      Great Danes       16       15       15       14
14               Doberman Pinschers       12       14       14       15
15             Australian Shepherds       20       18       17       16
16             Miniature Schnauzers       17       16       16       17
17            Pembroke Welsh Corgis       24       22       20       18
18   Cavalier King Charles Spaniels       18       19       18       19
19                         Shih Tzu       15       17       19       20
20                  Boston Terriers       23       23       22       21
21                      Pomeranians       19       20       21       22
22                         Havanese       25       25       24       23
23               Shetland Sheepdogs       21       21       23       24
24                        Brittanys       30       27       26       25
25      Spaniels (English Springer)       28       28       27       26
26            Bernese Mountain Dogs       32       32       29       27
27                         Mastiffs       26       26       25       28
28                Spaniels (Cocker)       29       30       30       29
29                       Chihuahuas       22       24       28       30
..                              ...      ...      ...      ...      ...
159     Portuguese Podengo Pequenos      153      166      153      160
160       Entlebucher Mountain Dogs      155      153      159      161
161              Spanish Water Dogs               113      167      162
162               Swedish Vallhunds      147      158      155      163
163       Retrievers (Curly-Coated)      163      163      151      164
164                        Kuvaszok      150      161      150      165
165                     Otterhounds      172      179      180      166
166         Dandie Dinmont Terriers      168      167      172      167
167                  Pharaoh Hounds      160      164      171      168
168        Polish Lowland Sheepdogs      157      170      164      169
169     American English Coonhounds      146      156      166      170
170                         Lowchen      154      165      161      171
171               Spaniels (Sussex)      162      175      173      172
172               Finnish Lapphunds      171      173      169      173
173               Norwegian Buhunds      166      172      165      174
174                        Chinooks      156      171      177      175
175              Pyrenean Shepherds      169      178      176      176
176                      Komondorok      159      168      163      177
177                   Skye Terriers      161      177      175      178
178                   Finnish Spitz      170      174      178      179
179          Glen of Imaal Terriers      167      162      168      180
180                     Canaan Dogs      164      176      170      181
181                  Cesky Terriers      174      182      179      182
182              Cirnechi dell'Etna               117      162      183
183                      Bergamasco                96      174      184
184                        Sloughis                                 185
185                        Harriers      173      181      183      186
186               English Foxhounds      177      183      184      187
187            Norwegian Lundehunds      175      184      182      188
188              American Foxhounds      176      180      181      189

[189 rows x 5 columns]

Finalmente ponemos todo en un CSV. tenemos que pasar parametros para codicar las letras sin u' code. 
Aqui tambien ponemos el nombre del csv.

In [16]:









dogData.to_csv('path.csv', header=True, index=False, encoding='utf-8')